<h1>Authors#new</h1>
<%= form_for @author do |f|%>
    <%= f.label :First_Name%>
    <%= f.text_field :first_name%>
    <%= f.label :Last_Name%>
    <%= f.text_field :last_name%>
    <%= f.label :Date_Of_Birth%>
    <%= f.text_field :date_of_birth%>
    <%= f.label :Email%>
    <%= f.text_field :email%>

    <%= f.submit%>
<%end%>


